@charset "utf-8";

// Define defaults for each variable.

$base-font-family: source-sans-3, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 700 !default;
$black-font-weight: 900 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$baseurl:		   '/utahcubing.com';

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/* Source Sans 3 */
@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-400-normal.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-400-italic.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-400-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-700-normal.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-700-normal.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-700-italic.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-700-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-900-normal.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-900-normal.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}


// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting";


td {
	vertical-align: top;
	word-wrap: break-word;
}

.event-icon {
	width: 19px;
	height: 19px;
	margin: 5px 3px;
}

.date-column {
  @media (min-width: 600px) {
    span {
			display: none;
    }
  }
}

.venue-column {
	display: none;
  @media (min-width: 600px) {
    display: table-cell;
  }
}

.footer-col-wrapper {
	@media (min-width: 600px) {
		margin-left: auto;
		margin-right: auto;
		width: calc(65%);
	}
}

.footer-col-1, .footer-col-2 {
	@media (min-width: 600px) {
		width: calc(50% - (30px / 2));
	}
}

.svg-icon {
	width: 19px;
	height: 19px;
}