@charset "utf-8";

// Define defaults for each variable.

$base-font-family: source-sans-3, sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 700 !default;
$black-font-weight: 900 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$baseurl:		   '';

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/* Source Sans 3 */
@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-400-normal.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-400-italic.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-400-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-700-normal.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-700-normal.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-700-italic.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-700-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'source-sans-3';
    src: url($baseurl + '/assets/fonts/source-sans-3-900-normal.woff2') format('woff2'),
    	 url($baseurl + '/assets/fonts/source-sans-3-900-normal.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}


// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting";

main.page-content {
	padding-top: 0;
}

h2 {
	margin-top: 2em;
}

div#today {
	ul {
		text-indent: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 0.5em;
		row-gap: 0.5em;
		align-items: stretch;
		
		li {
			display: grid;
			align-content: center;
			justify-items: center;
			display: block;
			padding: 1em 1.5em;
			text-indent: none;
			background: gray;
			border-radius: 0.5em;
			color: white;
			text-align: center;
			
			a {
				color: white;
				
				img {
					display: block;
					margin: 0 auto 0.5em;
					width: 50px;
					height: 50px;
					vertical-align: -4px;
				}
			}
		}
		
		@media (min-width: 700px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
}

td {
    vertical-align: top;
    word-wrap: break-word;
}

.event-icon {
    width: 19px;
    height: 19px;
    margin: 5px 3px;
}

span.city {
    font-size: smaller;
    font-style: italic;
}

.date-column {
    width: 33%;
    @media (min-width: 600px) {
        width: 15%;
        span.city {
            display: none;
        }
    }
}

.competition-column {
    width: 67%;
    @media (min-width: 600px) {
        width: 50%;
    }
}

span.registration-not-open,
span.registration-opens-today,
span.registration-open,
span.registration-closes-today,
span.registration-closed {
	text-size: smaller;
	font-variant: all-small-caps;
}


span.registration-not-open { color: gray }
span.registration-opens-today { color: green }
span.registration-open { color: green }
span.registration-closes-today { color: orange }
span.registration-closed { color: red }

.venue-column {
    display: none;
    @media (min-width: 600px) {
        display: table-cell;
        width: 35%;
    }
}

.footer-col-wrapper {
	@media (min-width: 600px) {
		margin-left: auto;
		margin-right: auto;
		width: calc(65%);
	}
}

.footer-col-1, .footer-col-2 {
	@media (min-width: 600px) {
		width: calc(50% - (30px / 2));
	}
}

.svg-icon {
	width: 19px;
	height: 19px;
}
